.main-container{
    background-color: #f4f5f8;
    height: 90vh;
    width: 90vw;
    display: flex;
}
.sidebar-container{
   display: flex;
   flex-direction: column;
    flex: 0.3;
    }
    


.sb-header{
background-color: white;
border-radius: 20px;
padding: 10px 5 px;
margin: 5px;
display: flex;
justify-content: space-around;
    }
 .sb-search{
        background-color: white;
        border-radius: 20px;
        padding: 10px 10px;
        margin: 10px;
        display: flex;
        align-content: center;
    }
    .search-box{
        outline-width: 0;
        border: none;
        margin-left: 10px;
        font-size: 1rem;
    }
    .sb-conversation{
        background-color: white;
        border-radius: 20px;
        padding: 5px 10px;
        margin: 10px;
        flex: 1;

    }

    .con-icon{
        grid-area: 1/1/3/2;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d9d9d9;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2rem;
        font-weight: bolder;
        color: white;
        width: 32px;
        height: 32px;
        padding: 2px;
        border-radius: 50%;
        justify-self: center;
        align-self: center;
    }

    .conversation-container{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 32px auto auto;
        column-gap: 10px;
        padding: 5px;
        margin: 5px;
        border-radius: 20px;
    }

    .con-title{
        grid-area: 1/2/2/4;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.54);
    }
    .con-TimesTamp{
        justify-self: flex-end;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.75rem;
        color: rgba(0, 0, 0, 0.54);

    }
    .con-LastMessage{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.75rem;
        padding: 10px;


    }

    .ChatArea-Container{
        flex: 0.7;
        display: flex;
        flex-direction: column;
        }
        
.ChatArea-header{
    display: flex;

    background-color: white;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
}
.messages-container{
    background-color: aquamarine;
    flex: 1;
}
.text-input-area{
    background-color: yellow;
}

.header-text{
display: flex;
flex-direction: column;
justify-content: center;
flex: 1;
}


.messages-container{
    flex: 1;
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    overflow: scroll;
    /* overflow: scroll;il fait scroller les messages */
}
.messages-container::-webkit-scrollbar{
    display: none;
}
.text-input-area{
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.self-message-container{
    display: flex;
    justify-content: flex-end;
}
.messageBox{
    display: flex;
    background-color: rgb(201, 75, 75);
    width: max-content;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    
}
.self-TimesTamp{
    align-self: flex-end;
    font-size: 0.75rem;
    font-weight: lighter;
    color: rgb(184, 184, 184);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.other-text-content{
    background-color: #d9d9d9;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 20px;
    width: max-content;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
   
}